@model IEnumerable<demomvc.Models.Factura>

<h2>Facturas</h2>
<center>
    <a class="btn btn-primary" href="RegistrarFactura">REGISTRAR FACTURA</a>
</center>
<br><br>
<div class="row">
<form asp-controller="Facturas" asp-action="Facturas">
    <div class="col-sm-4">
        Origen:<input type="text" name="origen">
        <input class="btn btn-success" type="submit" value="Filtrar" />
        <br>
        Destino:<input type="text" name="fDestino">
        <input  class="btn btn-success" type="submit" value="Filtrar" />
    </div>
    <div class="col-sm-4"<div><div>
        Estado:<input type="text" name="fEstado">
        <input class="btn btn-success" type="submit" value="Filtrar" />
        <br>
        <a class="btn btn-danger" href="Facturas">Desfiltrar</a>
    </div> 
    <div class="col-sm-4"></div>
    </div>
</form>
</div>
<br>
<center>
<table class="table-responsive table-bordered table-hover">
    <thead >
        <tr>
                <th>@Html.DisplayNameFor(model => model.ID)</th>
                <th>@Html.DisplayNameFor(model => model.CodigoFactura)</th>
                <th>@Html.DisplayNameFor(model => model.PlacaTracto)</th>
                <th>
                    @Html.DisplayNameFor(model => model.PlacaCarreta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoConductor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Origen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaSalida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Destino)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaDestino)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoCarga)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaEntregaDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MontoFacturado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCobrado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MontoCobrado)
                </th>        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaTracto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacaCarreta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoConductor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCarga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntregaDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoFacturado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCobrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoCobrado)
            </td>
        </tr>
}
    </tbody>
</table>
