
@model IEnumerable<demomvc.Models.Empresa>
@{
    ViewData["Title"] = "Index";
}

<h2>Empresas</h2>

<center>

<a class="btn btn-primary" href="CrearEmpresa">CREAR EMPRESA</a>
<a class="btn btn-primary" href="Empresas">VER EMPRESA</a>
</center>


<form asp-controller="Facturas" asp-action="Facturas">
        Tipo:<select  name="fTipo" >
                    <option value="Transporte">Transporte</option>
                    <option value="Carga">Carga</option>
                </select>
        <a class="btn btn-danger" href="Facturas">Desfiltrar</a>
</form>
        <br><br>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>PAGINA</th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                <a asp-action="Empresas" asp-route-id="@item.ID">Detalles</a> |
            </td>
        </tr>
}
    </tbody>
</table>